<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>smallC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>testAnalyzer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>testArrays.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>testFuncs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>testPrescan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B34BEDC184C811800CFDD66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B34BEEC184C813400CFDD66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B34BF04184C831D00CFDD66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B34BF11184C834700CFDD66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B34BF25184C83A500CFDD66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B70642E184C8D24006F2128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BD6C8FF18570E68001ECF64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
